@model Usuario
<form method="post">
    <fieldset>
        <legend>Dados de Endereço</legend>
        <div asp-validation-summary="ModelOnly"
             class="text-primary"></div>
        <div class="form-group" id="Cep">
            <label asp-for="Endereco.Cep"></label>
            <input type="text" class="form-control"
                   asp-for="Endereco.Cep" />
            <span asp-validation-for="Endereco.Cep"
                  class="text-primary"></span>
        </div>
        <input type="submit"
               class="btn btn-info"
               value="Buscar"
               asp-action="BuscarCep"
               asp-controller="Usuario" />
        <div class="form-group" id="Rua">
            <label asp-for="Endereco.Logradouro"></label>
            <input type="text" class="form-control"
                   asp-for="Endereco.Logradouro" readonly="" />
            <span asp-validation-for="Endereco.Logradouro"
                  class="text-primary"></span>
        </div>
        <div class="form-group" id="Bairro">
            <label asp-for="Endereco.Bairro"></label>
            <input type="text" class="form-control"
                   asp-for="Endereco.Bairro" readonly="" />
            <span asp-validation-for="Endereco.Bairro"
                  class="text-primary"></span>
        </div>
        <div class="form-group" id="Cidade">
            <label asp-for="Endereco.Localidade"></label>
            <input type="text" class="form-control"
                   asp-for="Endereco.Localidade" readonly="" />
            <span asp-validation-for="Endereco.Localidade"
                  class="text-primary"></span>
        </div>
        <div class="form-group" id="Estado">
            <label asp-for="Endereco.Uf"></label>
            <input type="text" class="form-control"
                   asp-for="Endereco.Uf" readonly="" />
            <span asp-validation-for="Endereco.Uf"
                  class="text-primary"></span>
        </div>
    </fieldset>
    <fieldset>
        <legend>Dados Pessoais</legend>
        <div class="form-group" id="E-mail">
            <label asp-for="Email"></label>
            <input type="text" class="form-control"
                   asp-for="Email" />
            <span asp-validation-for="Email"
                  class="text-primary"></span>
        </div>
        <div class="form-group" id="Senha">
            <label asp-for="Senha"></label>
            <input type="text" class="form-control"
                   asp-for="Senha" />
            <span asp-validation-for="Senha"
                  class="text-primary"></span>
        </div>
        <div class="form-group" id="ConfirmacaoSenha">
            <label asp-for="ConfirmacaoSenha"></label>
            <input type="text" class="form-control"
                   asp-for="ConfirmacaoSenha" />
            <span asp-validation-for="ConfirmacaoSenha"
                  class="text-primary"></span>
        </div>
        <input type="submit"
               class="btn btn-success"
               value="Cadastrar"
               asp-action="Cadastrar"
               asp-controller="Usuario" />
    </fieldset>
</form>
