
@model Produto

<form asp-action="Cadastrar" method="post">
    <fieldset>
        <legend>Cadastrar Produto</legend>
        <div class="form-group" id="Nome">
            <label>Nome:</label>
            <input type="text" class="form-control" asp-for="Nome" />
        </div>

        <div class="form-group" id="Descricao">
            <label>Descrição:</label>
            <input type="text" class="form-control" asp-for="Descricao" />
        </div>

        <div class="form-group" id="Preco">
            <label>Preço:</label>
            <input type="text" class="form-control" asp-for="Preco" />
        </div>

        <div class="form-group" id="Quantidade">
            <label>Quantidade:</label>
            <input type="text" class="form-control" name="txtQuantidade" asp-for="Quantidade" />
        </div>

        <input type="submit" class="btn btn-success" value="Cadastrar" />
    </fieldset>
</form>
